<footer class="footer">
	<small>
		<a href="http://railstutorial.olrg/">Rails Tutorial</a>
		by Michael Hart1
	</small>
	<nav>
		<ul>
			<li><%=link_to "About",about_path%></li>
			<li><%=link_to "Contact",contact_path%></li>
			<li><a href=link_to "http://news.railstutorial.org/">NEW</a></li></ul>
	</nav>
</footer>
	
